---
import HeroButton from './HeroButton';
import HeroEclipse from './HeroEclipse';
import HeroExperience from './HeroExperience';
import HeroNavigation from './HeroNavigation';
import HeroReview from './HeroReview';
import HeroTitle from './HeroTitle';
---

<section id="hero" class="stretch relative top-0 flex min-h-full w-full flex-1 items-center pt-20">
  <HeroReview client:load />
  <HeroExperience client:load />

  <div class="flex size-full flex-col items-center">
    <HeroEclipse client:load />
    <HeroButton client:load />
    <HeroTitle client:load />
    <HeroNavigation client:load />
  </div>
</section>
