---
import { cn } from '@/utils';

declare type AboutText = Readonly<Array<{ text: string; type: 'highlight' | 'normal' }>>;

export const content: AboutText = [
  {
    text: "My ultimate goal is to create a societal impact as a way to give back for what I've received.",
    type: 'highlight'
  },
  {
    text: 'I am enthusiastic about challenging myself through a variety of work experiences and am open to different fields to learn and develop my skills.',
    type: 'normal'
  },
  {
    text: 'Being a young woman living in a complex and rapidly changing world, I adopted the mission of contributing to the development and closing the gap of inequality among people.',
    type: 'highlight'
  },
  {
    text: 'To achieve that mission, I urged myself to involve myself in experiencing knowledge and improving my skillset, and mindset in Sustainability Development. ',
    type: 'normal'
  }
];
---

<section
  id="about"
  class="top-10 flex min-h-[40rem] w-full items-center gap-8 rounded-tl-3xl rounded-tr-3xl bg-white px-20 pt-20"
>
  <div class="flex max-w-[60%] flex-col justify-between gap-8">
    <h2 class="w-full text-start text-5xl">About Me</h2>

    <div class="flex">
      <p class="text-left text-2xl font-medium">
        Hello, I&apos;m Hiếu Nhân, a senior Economics major at
        <br />
        Fulbright University Vietnam.
      </p>
    </div>
    <div class="min-w-full text-base leading-relaxed">
      {
        content.map(({ text, type }) => (
          <p
            class={cn(
              'py-2 text-justify',
              type === 'highlight' ? 'bg-tertiary font-semibold text-secondary' : 'text-dark-2'
            )}
          >
            {text}
          </p>
        ))
      }
    </div>
  </div>

  <div class="relative mt-4 flex-1 rounded-xl border border-black/[0.1] bg-gray-50 p-6">
    <img src="/images/about-me.png" class="w-full rounded-xl object-cover" alt="Avatar" />
  </div>
</section>
