---
import BlogPost from '@/components/BlogPost.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = 'My Astro Learning Blog';
---

<BaseLayout title={pageTitle}>
  <main class="relative z-20 mx-auto flex size-full max-w-[1440px] flex-1 select-none flex-col items-center pt-20">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </main>
</BaseLayout>
