---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { About, Experience, Hero } from '@/components/widgets';
---

<BaseLayout>
  <main class="relative z-20 mx-auto flex size-full max-w-[1440px] select-none flex-col items-center">
    <Hero />
    <About />
    <Experience />
  </main>
</BaseLayout>
