---
import '@/styles/globals.css';

import Navbar from '@/components/Navbar.astro';
import Welcome from '@/components/Welcome.astro';
import Layout from '@/layouts/Layout.astro';
import { About, Hero } from '@/components/widgets';

const navItems = [
  { name: 'Home', link: 'hero', component: Welcome },
  { name: 'About', link: 'about', component: Welcome },
  { name: 'Experience', link: 'experience', component: Welcome }
  // { name: 'Project', link: 'project', component: Project }
];

const externalLinks = [
  { name: 'Mail', link: `mailto:${'nhansocok@gmail.com'}` },
  { name: 'Linkedin', link: 'linkedin' }
];
---

<Layout>
  <Navbar navItems={navItems} externalLinks={externalLinks} />
  <main class="relative z-20 flex mx-auto max-w-[1440px] size-full select-none flex-col items-center">
    <Hero />
    <About />
  </main>
</Layout>
