---
import JobList from './JobList';
---

<section id="experience" class="relative w-full flex max-h-screen flex-col items-center bg-white px-20 pt-20">
  <div class="my-20">
    <h2 class="text-6xl text-primary">
      My <span class="text-tertiary">Work Experience</span>
    </h2>
  </div>

  <JobList client:load />
</section>
