---
const github = 'https://github.com/anywaylupin';
---

<footer id="credits">
  <div class="py-10 text-center text-2xl">
    <span>Built by </span>
    <a
      href={github}
      target="_blank"
      class="bg-gradient-to-br from-green-500 to-cyan-500 bg-clip-text font-bold text-transparent"
    >
      anywaylupin
    </a>
  </div>
</footer>
