---
import { IconGitHub, IconLinkedin, IconMail } from './icons';
import { Navbar } from './ui';

const navItems = [
  { name: 'Home', link: '/#hero' },
  { name: 'About', link: '/#about' },
  { name: 'Experience', link: '/#experience' },
  { name: 'Blog', link: '/blog' }
];

const externalLinks = [
  { name: 'Mail', link: `mailto:${'nhansocok@gmail.com'}`, icon: IconMail },
  {
    name: 'Linkedin',
    link: 'https://www.linkedin.com/in/hieunhannguyen/',
    icon: IconLinkedin
  },
  {
    name: 'GitHub',
    link: 'https://github.com/anywaylupin/HieuNhan',
    icon: IconGitHub
  }
];
---

<header class="fixed inset-x-0 z-40 mx-auto flex w-full items-center bg-white p-2.5 text-xl">
  <Navbar navItems={navItems} client:load />
  <div class="ml-auto mr-6 flex h-full items-center gap-4">
    {
      externalLinks?.map(({ icon: Icon, link }) => (
        <a href={link} target={link.startsWith('mailto') ? '' : '_blank'}>
          <Icon className="transition hover:text-tertiary" />
        </a>
      ))
    }
  </div>
</header>
